<p id="notice"><%= notice %></p>

<div class="conteiner">
<h1 id="titulo">Linhas</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
      </tr>
    </thead>
  <tbody>
    <% @grupos.each do |grupo| %>
      <tr>
        <td width="70%"><%= grupo.nome %></td>
        <td width="10%"><%= link_to 'Ver', grupo, class: :btn   %></td>
        <td width="10%"><%= link_to 'Editar', edit_grupo_path(grupo), class: :btn   %></td>
        <!--<td><%= link_to 'Deletar', grupo, method: :delete, data: { confirm: 'Você tem certeza disso?' } %></td>-->
        <td width="10%"><%= link_to 'Novo', new_grupo_path, class: :btn   %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<%= link_to 'Nova Linha', new_grupo_path, class: :btn   %>
