<p id="notice"><%= notice %></p>

<!--Consulta-->
  <%= search_form_for @q do |f| %>
  <%= f.label :nome_cont, "Nome: "%>
  <%= f.search_field :nome_cont %>

  <%= f.label :descricao_cont, "Informações Técnicas: " %>
  <%= f.search_field :descricao_cont %>

  <%= f.submit %>
<% end %>

<div class="conteiner">
<h1 id="titulo">Produtos</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= sort_link(@q, :nome, "Nome") %></th>
          <th><%= sort_link(@q, :referencia, "Referência") %></th>
          <!--<th><%= sort_link(@q, :descricao, "Informações Técnicas") %></th>-->
          <th><%= sort_link(@q, :categorium, "Departamento") %></th>
          <th><%= sort_link(@q, :subgrupo, "Marca") %></th>
        </tr>
      </thead>
      <tbody>
        <% @produtos.each do |produto| %>
          <tr>
            <td width="40%"><%= produto.nome %></td>
            <td width="15%"><%= produto.referencia %></td>
            <!--<td width="50%"><%= raw produto.descricao%></td>-->
            <td width="15%"><%= produto.categorium.nome %></td>
            <td width="15%"><%= produto.subgrupo.nome %></td>
            <td width="5%"><%= link_to 'Ver', produto, class: :btn  %></td>
            <td width="5%"><%= link_to 'Editar', edit_produto_path(produto), 'data-turbolinks' => false, class: :btn  %></td>
            <!--<td><%= link_to 'Deletar', produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
            <td width="5%"><%= link_to 'Novo', new_produto_path, 'data-turbolinks' => false, class: :btn %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
 </div>
</div>

<%= link_to 'Novo Produto', new_produto_path, 'data-turbolinks' => false, class: :btn %>
